.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login > div > img {
  object-fit: contain;
  height: 150px;
  cursor: pointer;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
}

.login > button:hover {
  opacity: 0.9;
  color: #2e81f4;
}
.login__footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login__footer > a {
  font-weight: 400;
  color: red;
}
